* {
    margin: 0; 
    padding: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    color: #000; 
}

a {
    text-decoration: none;
    color: #000; 
}

.navbar {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background: #fff; 
    padding: 6px 6%; 
    position: sticky; 
    top: 0; 
    z-index: 100; 
    box-shadow: 0 5px 10px rgba(0,0,0,0.1); 
}

.logo img {
    width: 150px;
    margin-right: 15px; 
    display: block;  
}

.navbar-right ul li {
    display: inline-block; 
    list-style: none; 
}

.navbar-right ul li a {
    display: flex; 
    align-items: center;
    font-size: 16px; 
    margin: 15px 28px;
    padding-right: 5px; 
    position: relative;  
}

.navbar-right ul li a::after {
    content: ''; 
    width: 0; 
    height: 2px; 
    background: orangered; 
    position: absolute; 
    bottom: -15px; 
    transition: width 0.3s; 
}

.navbar-right ul li a:hover::after {
    width: 100%; 
}

.navbar-center ul li a.active-link::after {
    width: 100%; 
}
